.w-5 {
  width: 5rem;
}

.w-14 {
  width: 14rem;
}

.w-23 {
  width: 23rem;
}

.w-23 {
  width: 23rem;
}

.w-full {
  width: 100%;
}

.w-container--md {
  width: var(--container-md);
}

.w-1\/2 {
  width: 50%;
}

.w-1\/3 {
  width: 75%;
}
